<!DOCTYPE html>
<html>
<head>
	<title>Postal Weight Cost</title>
</head>
<body>
	<h1>Postal Weight Cost</h1>
	<p>Your <%= packageType %> weighing <%= originalWeight %> ounces will cost <%= price %> to ship.</p>
</body>
</html>